@font-face {
    font-family: "SomeFont";
    src: url("../fonts/Fnytgkxfvdppazuaixuwgsenwjc.ttf");
}

@font-face {
    font-family: "SomeFont2";
    src: url("../fonts/Yonmohavnvqvjdpirwgvjharyzu.ttf");
}

@font-face {
    font-family: "DinPro";
    src: url("../fonts/DINPro.otf");
}

* {
    font-family: "SomeFont", "Arial", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
}

.container {
    width: 93%;
    margin: 0 auto;
}

#header,
#footer {
    background-color: #3b3f4d;
    padding: 0.5vw 0;
}

#header .container,
#footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header .logo {
    width: 20vw;
    float: left;
}

#header .logo img,
#footer .logo img {
    max-width: 100%;
}

#header .wrapper {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header .menu {
    width: 55.5%;
}

#header .menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

#header .menu ul li {
    list-style-type: none;
}

#header .menu ul li a {
    font-size: 1.3vw;
    text-decoration: none;
    font-weight: bold;
    color: white;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

#header .menu ul li:hover a {
    color: #ea2839;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

#header .menu li.btn-sel-wrapper {
    width: 32%;
    text-align: right;
}

.btn {
    border: 0;
    border-radius: 2.5px;
    color: white;
    font-size: 1.3vw;
    font-weight: bold;
    background-color: #ea2839;
    outline: none;
    cursor: pointer;
    padding: 1vw;
}

#header .phones a {
    font-size: 1.8vw;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

#slider-main {
    width: 100%;
}

#slider-main .swiper-slide {
    max-height: 43.2vw;
}

#slider-main .swiper-slide img {
    width: 100%;
}

#slider-main .swiper-slide .text {
    width: 78%;
    position: absolute;
    top: 15%;
    left: 11%;
    text-align: center;
    padding: 4.2vw 0;
    background-color: rgba(59, 63, 77, 0.8);
}

#slider-main .swiper-slide .text .title {
    font-size: 4.4vw;
    color: white;
    margin: 0 0 3.4vw 0;
}

.btn-more,
.btn-send,
.btn-contacts,
.btn-connect,
.btn-load-more,
.btn-prices {
    font-size: 1.5vw;
    background-color: transparent;
    border: 1px solid white;
    padding: 0.8vw 1.2vw;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn-more:hover,
.btn-send:hover,
.btn-contacts:hover,
.btn-connect:hover,
.btn-load-more:hover {
    background-color: #ea2839;
    border-color: #ea2839;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn-more span,
.btn-contacts span,
.btn-connect span,
.btn-load-more span {
    margin-left: 1vw;
}

#slider-main .swiper-pagination-bullet {
    background: transparent;
    width: 1.25vw;
    height: 1.25vw;
    margin: 0 .375vw;
    border: 1px solid transparent;
    border-radius: 2px;
    position: relative;
    cursor: pointer;
    opacity: 1;
}

#slider-main .swiper-pagination-bullet:before {
    content: '';
    background: #ea2839;
    width: .5vw;
    height: .5vw;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -.25vw 0 0 -.25vw;
}

#slider-main .swiper-pagination-bullet-active {
    border-color: white;
}

#slider-main .swiper-pagination-bullet-active:before {
    background: white;
    border-radius: 0;
}

#slider-main .down {
    width: 3vw;
}

#slider-main .down {
    position: absolute;
    left: calc(50% - 1.5vw);
    bottom: 0;
    z-index: 99;
}

.swiper-container-horizontal>.swiper-pagination-bullets {
    width: 10vw;
    left: calc(50% - 6vw);
    border-radius: 3px;
    padding: 0.65vw 1vw;
    display: inline-block;
    background-color: rgba(46,49,61,.6);
    bottom: 2.5vw;
}

section .container > .title {
    font-size: 4.4vw;
    font-family: "SomeFont", sans-serif;
    text-align: center;
    color: #ea2839;
    margin: 0 0 2.35vw 0;
}

#about-us {
    background: url("../images/who-are-we-bg.png") center no-repeat;
    background-size: cover;
    padding: 6.5vw 0 2.5vw 0;
}

#about-us p {
    padding: 0 4.2vw;
    font-size: 1.82vw;
    line-height: 2.2vw;
    text-align: center;
    color: white;
    margin-bottom: 2.4vw;
}

#offers {
    padding-top: 6.5vw;
    background: url("../images/how-buy-bg.png") 50% 40% no-repeat;
    background-size: cover;
}

#offers .elem-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#offers .elem {
    position: relative;
    width: calc(100%/3);
    height: 33.5vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

#offers .elem.mettalic-racks {
    background-image: url("../images/metallic-racks.jpg");
    background-position-x: 0%;
}

#offers .elem.metallic-furniture {
    background-image: url("../images/metallic-furniture.jpg");
    background-position-x: 45%;
}

#offers .elem.warehouse-equipment {
    background-image: url("../images/warehouse-equipment.jpg");
    background-position-x: 0%;
}

#offers .elem.retail-store-equipment {
    background-color: #52687f;
    background-image: url("../images/retail-store-equipment.png");
    background-size: contain;
}

#offers .elem.services {
    background-color: #52687f;
    background-image: url("../images/services.png");
    background-position-y: 80%;
    background-size: auto;
}

#offers .elem.empty {
    background-color: #3b3f4d;
}

#offers .elem > .title {
    position: absolute;
    bottom: 3.5vw;
}

#offers .elem .title {
    font-size: 2.22vw;
    color: white;
    padding: 0 2.2vw;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

#offers .elem .title:hover {
    color: #ea2839;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

#offers .elem .info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    -webkit-transition: background-color 0.6s ease;
    -moz-transition: background-color 0.6s ease;
    -o-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease;
}

#offers .elem .wrapper {
    position: absolute;
    max-width: 100%;
    padding-left: 2vw;
    height: auto;
    max-height: 2.5vw;
    bottom: 3.5vw;
    -webkit-transition: max-height 0.4s ease;
    -moz-transition: max-height 0.4s ease;
    -o-transition: max-height 0.4s ease;
    transition: max-height 0.4s ease;
}

#offers .elem:hover .info {
    background-color: rgba(59, 63, 77, 0.8);
    -webkit-transition: background-color 0.6s ease;
    -moz-transition: background-color 0.6s ease;
    -o-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease;
}

#offers .elem:hover .wrapper {
    max-height: 20vw;
    -webkit-transition: max-height 0.4s ease;
    -moz-transition: max-height 0.4s ease;
    -o-transition: max-height 0.6s ease;
    transition: max-height 0.4s ease;
}

#offers .elem:hover .text,
#offers .elem:hover .btn-more {
    opacity: 1;
    -webkit-transition: opacity 0.6s ease;
    -moz-transition: opacity 0.6s ease;
    -o-transition: opacity 0.6s ease;
    transition: opacity 0.6s ease;
}

#offers .elem .title {
    padding: 0;
}

#offers .elem .text {
    width: 96.1%;
    font-size: 1.3vw;
    color: white;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease;
    -moz-transition: opacity 0.6s ease;
    -o-transition: opacity 0.6s ease;
    transition: opacity 0.6s ease;
}

#offers .elem .btn-more {
    opacity: 0;
    -webkit-transition: opacity 0.6s ease;
    -moz-transition: opacity 0.6s ease;
    -o-transition: opacity 0.6s ease;
    transition: opacity 0.6s ease;
}

#what-new {
    background-color: #3b3f4d;
    padding: 6.5vw 0.5vw 2.5vw 1.5vw;
}

#what-new .container {
    text-align: center;
}

#what-new .news {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

#what-new .elem {
    width: 100%;
    max-height: 32vw;
    overflow: auto;
    margin-bottom: 3.5vw;
    text-align: left;
}

#what-new .elem .photo {
    float: left;
    width: 31%;
    height: 10.5vw;
    background-position-y: 95%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10% 80%;
    background-image: url("../images/news-1.jpg");
}

#what-new .elem .info {
    width: calc(69% - 2vw);
    height: 9.5vw;
    float: right;
    background-color: white;
    color: #3b3f4d;
    padding: 0.5vw 1vw;
}

#what-new .elem .info .title {
    font-size: 1.75vw;
    margin: 0 0 0.45vw 0;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

#what-new .elem:first-child .title {
    color: #ea2839;
}

#what-new .elem:hover .info .title {
    color: #ea2839;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

#what-new .elem:first-child:hover .title {
    color: #3b3f4d;
}

#what-new .elem .info .date {
    font-family: "SomeFont2", "SomeFont", sans-serif;
    font-size: 1.1vw;
    display: inline-block;
    background-color: #3b3f4d;
    color: white;
    padding: 0.2vw 0.5vw;
}

#what-new .elem .info .text {
    font-family: "SomeFont2", "SomeFont", sans-serif;
    font-size: 1.32vw;
    line-height: 1.5vw;
    margin: 0.5vw 0 0 0;
}

.btn-load-more {
    margin-bottom: 1.2vw;
    color: #707480;
    border-color: #707480;
}

.btn-load-more:hover {
    background-color: #707480;
    border-color: #707480;
    color: white;
}

.btn-load-more span {
    display: inline-block;
    transform: rotate(90deg);
}

#how-buy {
    padding: 5.5vw 0 3.5vw 0;
}

#how-buy .container .title {
    margin-bottom: 2.4vw;
}

#how-buy .elements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

#how-buy .elements .elem {
    position: relative;
    width: calc(100%/3);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1.5vw 2vw;
    text-align: center;
}

#how-buy .elements .elem:first-child {
    width: calc(100%/3 - 3.5vw);
    padding-left: 3.5vw;
}

#how-buy .elements .elem:last-child {
    padding-right: 3.5vw;
}

#how-buy .elements .elem .mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(59, 63, 77, 0.6);
    z-index: 1;
}

#how-buy .elements .elem .info {
    position: relative;
    width: 100%;
    z-index: 2;
    color: white;
}

#how-buy .elements .elem .title {
    font-size: 2.65vw;
    color: #ea2839;
    text-align: left;
    margin: 0 0 1vw 0;
}

#how-buy .elements .site {
    background-image: url("../images/how-buy-site.jpg");
    background-position-y: 0%;
}

#how-buy .elements .office {
    background-image: url("../images/how-buy-office.jpg");
    background-position-y: 100%;
}

#how-buy .elements .phone {
    background-image: url("../images/how-buy-phone.jpg");
    background-position-y: 25%;
}

#how-buy .elements .elem p {
    font-family: "SomeFont2", "SomeFont", sans-serif;
    font-size: 1.36vw;
    text-align: left;
    margin: 0 0 1.2vw 0;
}

#how-buy .elements .office .info p,
#how-buy .elements .phone .info p {
    margin-bottom: 4.85vw;
}

#how-buy .elements .elem .form-group {
    text-align: left;
    margin-bottom: 1.5vw;
}

#how-buy .elements .elem .form-group label {
    font-family: "SomeFont2", "SomeFont", sans-serif;
    font-size: 1.35vw;
    margin-right: 0.5vw;
}

#how-buy .elements .elem .form-group input {
    max-width: 10.5vw;
    font-family: "SomeFont2", "SomeFont", sans-serif;
    border: 0;
    border-radius: 2.5px;
    padding: 0.4vw 0.5vw;
    font-size: 1.5vw;
    outline: none;
}

#work-process {
    padding: 6.5vw 0 2.5vw 0;
    background-color: #f1f1f1;
}

#work-process .container > p {
    font-family: "SomeFont2", "SomeFont", sans-serif;
    font-size: 1.8vw;
    line-height: 2vw;
    text-align: center;
    margin-bottom: 3.5vw;
}

#work-process .wrapper {
    width: 86%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 auto 4.5vw auto;
    background-color: white;
    padding: 3.4vw 0;
}

#work-process .wrapper .left {
    width: 30%;
    padding-left: 2.3vw;
}

#work-process .wrapper .left ul {
    padding: 0;
    margin: 0;
}

#work-process .wrapper .left li:not(.points) {
    list-style-type: none;
    height: 3vw;
    cursor: pointer;
}

#work-process .wrapper .left li:not(.points) span:not(.a) {
    display: block;
    width: 2.5vw;
    height: 2.5vw;
    line-height: 2.5vw;
    text-align: center;
    float: left;
    background-color: #f1f1f1;
    border-radius: 50%;
    font-size: 1.5vw;
    color: #707480;
    margin-right: 1vw;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#work-process .wrapper .left li:not(.points).active span:not(.a) {
    background-color: #ea2839;
    color: white;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#work-process .wrapper .left li:not(.points) .a {
    color: #707480;
    text-decoration: none;
    font-size: 1.4vw;
    line-height: 2.5vw;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#work-process .wrapper .left li:not(.points).active .a {
    color: #515562;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#work-process .wrapper .left li.points {
    list-style-type: none;
    margin: 0.3vw 0 0.3vw 1.2vw;
}

#work-process .wrapper .right {
    position: relative;
    width: 75%;
}

#work-process .wrapper .right > div {
    position: absolute;
    width: 100%;
    opacity: 0;
}

#work-process .wrapper .right > div:not(:first-child) {
    display: none;
}

#work-process .wrapper .right > div a {
    color: #ea2839;
}

#work-process .wrapper .right .consultation {
    opacity: 1;
}

#work-process .wrapper .right p,
#work-process .wrapper .right li {
    font-family: "SomeFont2", "SomeFont", sans-serif;
    font-size: 1.4vw;
    margin: 0 0 1.2vw 0;
    line-height: 1.8vw;
}

#work-process .wrapper .right li {
    margin: 0 0 0.1vw 0;
}

#footer .container {
    align-items: center;
}

#footer .logo {
    width: 10.5vw;
}

#footer div,
#footer p {
    font-size: 1.1vw;
    color: white;
}

#footer .design-by {
    width: 16.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#footer .design-by p {
    font-size: 1.05vw;
    line-height: 1.05vw;
    font-family: "DinPro", sans-serif;
}

#main-title {
    height: 26vw;
    overflow: hidden;
    background: url("../images/slider-main-1.jpg") 50% 43% no-repeat;
    background-size: cover;
}

#main-title .title {
    width: 78%;
    text-align: center;
    padding: 4.2vw 0;
    font-size: 4.4vw;
    color: white;
    margin: 6.5vw auto;
    background-color: rgba(59, 63, 77, 0.8);
}

#services {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#services .elem {
    padding-top: 0.5vw;
    width: calc(93%/3 - 2px);
    text-align: center;
    border-bottom: 1px solid #707480;
}

#services .elem:first-child .wrapper,
#services .elem:nth-child(2) .wrapper,
#services .elem:nth-child(3) .wrapper {
    padding: 0 1.8vw;
}

#services .elem:nth-child(4) .wrapper,
#services .elem:nth-child(5) .wrapper,
#services .elem:last-child .wrapper {
    padding: 1.6vw 1.8vw 0 1.8vw;
}

#services .elem .icon {
    height: 10vw;
    background-position: 50% 100%;
    background-repeat: no-repeat;
}

#services .elem .title {
    height: 3.8vw;
    font-size: 1.75vw;
    text-align: left;
    margin: 1vw 0 0.8vw 0;
}

#services .elem .text {
    font-family: "SomeFont2", "SomeFont", sans-serif;
    font-size: 1.3vw;
    text-align: left;
    max-height: 13.5vw;
    overflow: hidden;
    margin: 0 0 2.5vw 0;
}

#services .elem:first-child,
#services .elem:nth-child(4) {
    padding-left: 3.5%;
}

#services .elem:nth-child(3),
#services .elem:last-child {
    padding-right: 3.5%;
}

#services .elem:nth-child(2),
#services .elem:nth-child(5) {
    border-left: 1px solid rgb(157, 159, 166);
    border-right: 1px solid rgb(157, 159, 166);
}

#services .elem:first-child .title,
#services .elem:nth-child(4) .title,
#services .elem:first-child .text,
#services .elem:nth-child(4) .text {
    padding-right: 5.5vw;
}

#services .elem:first-child .icon,
#services .elem:nth-child(4) .icon {
    width: calc(100% - 5.5vw);
}

#services .elem:nth-child(2) .title,
#services .elem:nth-child(5) .title,
#services .elem:nth-child(2) .text,
#services .elem:nth-child(5) .text {
    padding: 0 2.75vw;
}

#services .elem:nth-child(2) .icon,
#services .elem:nth-child(5) .icon {
    width: calc(100% - 5.5vw);
    margin: 0 auto;
}

#services .elem:last-child .title,
#services .elem:nth-child(3) .title,
#services .elem:last-child .text,
#services .elem:nth-child(3) .text {
    padding-left: 5vw;
    padding-right: 0.3vw;
}

#services .elem:last-child .icon,
#services .elem:nth-child(3) .icon {
    width: calc(100% - 5.5vw);
    margin-left: 5vw;
    padding-right: 0.3vw;
}

#services .elem:first-child .icon {
    background-image: url("../images/service-metering.png");
}

#services .elem:nth-child(2) .icon {
    background-image: url("../images/service-reliability.png");
}

#services .elem:nth-child(3) .icon {
    background-image: url("../images/service-assembly.png");
}

#services .elem:nth-child(4) .icon {
    background-image: url("../images/service-delivery.png");
}

#services .elem:nth-child(5) .icon {
    background-image: url("../images/service-sales.png");
}

#services .elem:last-child .icon {
    background-image: url("../images/service-climb.png");
}

#services + #how-buy {
    background: url("../images/how-buy-bg.png") 50% 40% no-repeat;
    background-size: cover
}

.overlay {
    display: none;
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(59, 63, 77, 0.8);
    z-index: 999;
    cursor: pointer;
}

.modal-back-call,
.modal-news {
    display: none;
    opacity: 0;
    position: fixed;
    width: 30%;
    height: 22vw;
    top: calc(50% - 11vw);
    left: 35%;
    z-index: 9999;
    background-color: white;
}

.modal-back-call .title {
    font-size: 2.5vw;
    padding-left: 1.8vw;
    line-height: 2.4vw;
    margin-bottom: 1vw;
}

.modal-back-call .title span {
    color: #ea2839;
}

.modal-back-call .btn-send {
    font-size: 1.3vw;
    padding: 0.6vw 1.2vw;
    background-color: #ea2839;
    color: white;
    outline: none;
    margin: 0.8vw 0 1.5vw 0;
    border: 1px solid #ea2839;
    border-radius: 2.5px;
    cursor: pointer;
}

.modal-back-call form {
    padding-left: 1.8vw;
}

.modal-back-call .form-group {
    width: 78%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 1px solid rgb(191, 191, 191);
    border-radius: 2.5px;
    margin-bottom: 1vw;
}

.modal-back-call .form-group .icon {
    width: 1.5vw;
    height: 1.5vw;
    padding: 0.15vw;
    background-position: center;
    background-repeat: no-repeat;
    border-right: 1px solid rgb(191, 191, 191);
}

.modal-back-call .form-group.name .icon {
    background-image: url("../images/person-icon.png");
}

.modal-back-call .form-group.phone .icon {
    background-image: url("../images/phone-icon.png");
}

.modal-back-call .form-group.email .icon {
    background-image: url("../images/mail-icon.png");
}

.modal-back-call .form-group input {
    font-family: "SomeFont2", "SomeFont", sans-serif;
    padding: 0.15vw 0 0.15vw 0.8vw;
    font-size: 1.3vw;
    outline: none;
    border: none;
}

.modal .close {
    position: absolute;
    width: 2.1vw;
    height: 2.1vw;
    top: 0.9vw;
    right: 0.9vw;
    border: 1px solid rgb(191, 191, 191);
    border-radius: 2.5px;
    background: url("../images/close.png") center no-repeat;
    background-color: transparent;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}

.modal .close:hover {
    background-image: url("../images/close-white.png");
    background-color: #ea2839;
    border-color: #ea2839;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.modal-news {
    width: 62%;
    top: calc(50% - 16vw);
    left: 19%;
    height: 32vw;
    text-align: center;
}

.modal-news .title {
    max-width: 80%;
    font-size: 2.65vw;
    margin: 2vw auto 1vw auto;
    color: #ea2839;
}

.modal-news .date {
    font-size: 1vw;
    border-bottom: 1px solid rgb(157, 159, 166);
    padding-bottom: 1.3vw;
    color: #707480;
}

.modal-news .text {
    padding: 0 2vw;
    max-height: 20vw;
    overflow: scroll;
}

.modal-news .text p {
    font-family: "SomeFont2", "SomeFont", sans-serif;
    font-size: 1.3vw;
    line-height: 1.72vw;
    text-align: left;
    margin-bottom: 1.45vw;
}

.modal-news .close {
    width: 2.4vw;
    height: 2.4vw;
}

#main-title.section {
    height: 43.5vw;
}

#main-title.section .title {
    margin: 13.5vw auto;
}

#offers.offers-section {
    background: none;
}

#offers.offers-section .elem:first-child {
    background-image: url("../images/section-depth.jpg");
}

#offers.offers-section .elem:nth-child(2) {
    background-image: url("../images/section-gravity.jpg");
}

#offers.offers-section .elem:nth-child(3) {
    background-image: url("../images/section-cargo.jpg");
}

#offers.offers-section .elem:nth-child(4) {
    background-image: url("../images/section-plastic.jpg");
}

#offers.offers-section .elem:nth-child(5) {
    background-image: url("../images/section-console.jpg");
}

#offers.offers-section .elem:nth-child(6) {
    background-image: url("../images/section-mezzanine.jpg");
    background-color: #52687f;
}

#offers.offers-section .elem:nth-child(7) {
    background-image: url("../images/section-pallete.jpg");
    background-color: #52687f;
}

#offers.offers-section .elem:nth-child(8) {
    background-image: url("../images/section-shelf.jpg");
    background-color: #52687f;
}

#offers.offers-section .elem:nth-child(9) {
    background-image: url("../images/section-self-supporting.jpg");
    background-color: #52687f;
}

#offers.offers-section .elem:nth-child(10) {
    background-image: url("../images/section-cash-carry.jpg");
    background-color: #52687f;
}

#offers.offers-section .elem:nth-child(11) {
    background-image: url("../images/section-cabel.jpg");
    background-color: #52687f;
}

#offers.offers-section .elem:last-child {
    background-color: transparent;
    background-image: url("../images/section-tires.jpg");
    background-color: #52687f;
}

#contacts {
    position: relative;
}

#contacts .info {
    width: 33.5%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.6);
}

#contacts .info .title {
    margin: 3.6vw 0 1vw 0;
    padding-left: 3.75vw;
    font-size: 2.2vw;
    text-transform: uppercase;
    color: #ea2839;
}

#contacts .info .invoices {
    font-family: "SomeFont2", "SomeFont", sans-serif;
    padding-left: 3.75vw;
    font-size: 1.3vw;
    line-height: 1.5vw;
    margin-top: 0;
}

#contacts .info .contacts {
    margin-top: 3vw;
    padding-left: 3.75vw;
}

#contacts .info .contacts li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    margin-bottom: 2.5vw;
}

#contacts .info .contacts li .icon {
    width: 2.5vw;
    margin-right: 1.4vw;
}

#contacts .info .contacts li .text {
    font-family: "SomeFont2", "SomeFont", sans-serif;
    margin: 0;
    font-size: 1.35vw;
    line-height: 2vw;
}

#contacts .info .contacts li.mail a {
    color: black;
    font-family: "SomeFont2", "SomeFont", sans-serif;
}

#contacts .info .socials {
    margin-top: 5.3vw;
    padding-left: 3.75vw;
}

#contacts .info .socials li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1vw;
}

#contacts .info .socials li .icon {
    background-color: #3b3f4d;
    border-radius: 50%;
    padding: 0.3vw;
    margin-right: 0.5vw;
}

#contacts .info .socials li .icon img {
    max-width: 90%;
    vertical-align: middle;
}

#contacts .info .socials li a {
    font-family: "SomeFont2", "SomeFont", sans-serif;
    color: black;
    text-decoration: none;
    font-size: 1.35vw;
}

#contacts #map {
    height: 42.5vw;
}

#offers.product-offers {
    background: transparent;
}

#advantages {
    padding: 6.5vw 0 2.5vw 0;
    background: url("../images/advantages-bg.jpg") 50% 20% no-repeat;
    background-size: cover;
}

#advantages .container > .title {
    margin-bottom: 1.6vw;
}

#advantages .advantages-1,
#advantages .advantages-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#advantages .advantages-1 {
    padding: 0 2.2vw;
    margin-bottom: 7vw;
}

#advantages .advantages-1 .elem {
    width: calc(100%/3 - 4.4vw);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#advantages .advantages-1 .check {
    height: 1.8vw;
}

#advantages .advantages-1 p {
    width: 88.5%;
    color: white;
    font-size: 1.85vw;
    line-height: 2.1vw;
    margin: 0;
}

#advantages .advantages-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1vw;
    margin-bottom: 1vw;
}

#advantages .advantages-2 .elem {
    width: 30.5%;
    background-color: white;
    text-align: center;
    padding-top: 1.3vw;
}

#advantages .advantages-2 .elem .icon {
    height: 7.5vw;
    line-height: 7.5vw;
}

#advantages .advantages-2 .elem .icon img {
    vertical-align: bottom;
}

#advantages .advantages-2 .elem .title {
    font-size: 1.85vw;
    margin-bottom: 2.3vw;
}

#advantages .advantages-2 .elem .text {
    font-family: "SomeFont2", "SomeFont", sans-serif;
    font-size: 1.315vw;
    line-height: 1.5vw;
    text-align: left;
    padding: 0 2vw;
    margin-bottom: 2vw;
}

#how-choose {
    padding: 6.5vw 0 3vw 0;
    border-bottom: 1px solid #c4c5c9;
}

#how-choose .container > .title {
    font-size: 2.65vw;
    margin-bottom: 3.5vw;
}

#how-choose .options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#how-choose .options .elem {
    width: 26%;
    padding: 0 0 0 1.75vw;
}

#how-choose .options .elem .title {
    font-size: 1.8vw;
    margin: 0;
}

#how-choose .options .elem .text {
    font-family: "SomeFont2", "SomeFont", sans-serif;
    font-size: 1.3vw;
    margin: 1vw 0 0 0;
}

#how-choose .options .elem:first-child .text {
    padding-right: 3vw;
}

#how-choose .options .elem:nth-child(2) .text {
    padding-right: 2.42vw;
}

#how-choose .options .elem:last-child .text {
    padding-right: 2.5vw;
}

#specifications {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3.8vw 0;
}

#specifications > .left {
    width: 33%;
    padding-top: 3vw;
}

#specifications > .left img {
    max-width: 100%;
}

#specifications > .right {
    width: 66.5%;
}

#specifications > .right > .title {
    font-size: 2.65vw;
    margin-bottom: 2.5vw;
    color: #ea2839;
}

#specifications > .right .positions {
    padding: 0 3.3vw 0 0;
    margin-top: 0;
}

#specifications > .right .positions li {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin-bottom: 2.5vw;
}

#specifications > .right .positions li:last-child {
    margin-bottom: 2vw;
}

#specifications > .right .positions li .left {
    width: 100%;
    overflow: hidden;
}

#specifications > .right .positions li .title {
    font-size: 1.38vw;
    display: inline-block;
    font-family: "SomeFont2", "SomeFont", sans-serif;
}

#specifications > .right .positions li .line {
    display: inline-block;
    border-bottom: 1px dotted #c4c5c9;
}

#specifications > .right .positions li .value {
    font-family: "SomeFont2", "SomeFont", sans-serif;
    font-size: 1.35vw;
    text-align: right;
}

#specifications .btn-prices {
    background-color: #ea2839;
    color: white;
    margin-right: 3.4vw;
    font-size: 1.7vw;
    padding: 1vw 1.2vw;
    cursor: pointer;
    outline: none;
    border-radius: 1px;
}

#specifications .download-catalog {
    display: inline-block;
    cursor: pointer;
}

#specifications .download-catalog a {
    font-size: 1.3vw;
    color: black;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#specifications .download-catalog .icon {
    display: inline-block;
    width: 1.5vw;
    height: 1.5vw;
    background-image: url("../images/download-catalog-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#specifications .download-catalog:hover .icon {
    background-image: url("../images/download-catalog-icon-red.png");
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#specifications .download-catalog:hover a {
    color: #ea2839;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#ransom {
    padding: 6.5vw 0 2.5vw 0;
}

#ransom .container > .title {
    font-size: 2.65vw;
    margin-bottom: 2.5vw;
}

#ransom .text {
    font-family: "SomeFont2", "SomeFont", sans-serif;
    font-size: 1.08vw;
    line-height: 1.5vw;
    margin: 0 0 3vw 0;
}

#ransom .text a {
    font-family: "SomeFont2", "SomeFont", sans-serif;
    color: #ea2839;
}

#ransom .with-image {
    overflow: auto;
}

#ransom .with-image .text {
    font-size: 1.3vw;
}

#ransom .with-image-1 {
    margin-bottom: 3.3vw;
}

#ransom .with-image-1 img {
    width: 32%;
    float: left;
}

#ransom .with-image-1 .text {
    float: right;
    width: 64%;
}

#ransom .with-image-2 img {
    width: 68%;
    float: left;
}

#ransom .with-image-2 .text {
    float: right;
    width: 28%;
}

#ransom .with-image-3 {
    width: 100%;
    margin-top: 3.2vw;
}

#ransom .with-image-3 img {
    width: 100%;
    margin-bottom: 2.8vw;
}

#ransom .with-image-3 .list li {
    font-family: "SomeFont2", "SomeFont", sans-serif;
    font-size: 1.1vw;
}

#ransom .with-image-3 .list-1 {
    margin-bottom: 3.6vw;
}

#ransom .with-image-3 .list-1 li {
    list-style-image: url("../images/check.png");
    margin-bottom: 0.6vw;
}

#ransom .with-image-3 .list-2 li {
    color: #ea2839;
    margin-bottom: 1.3vw;
}

#ransom .with-image-3 .list-2 li span {
    font-family: "SomeFont2", "SomeFont", sans-serif;
    color: black;
}

@media all and (max-width: 640px) {
    #header .container,
    #footer .container,
    #header .wrapper,
    #header .menu ul {
        flex-direction: column;
        align-items: center;
    }

    #header .logo {
        width: 22vw;
        margin-bottom: 3vw;
        margin-top: 2vw;
    }

    #header .menu {
        margin-bottom: 3vw;
    }

    #header .menu ul li {
        margin-bottom: 2vw;
    }

    #header .menu ul li a {
        font-size: 3.2vw;
    }

    #header .phones {
        margin-bottom: 2vw;
    }

    #header .phones a {
        font-size: 3.8vw;
    }

    .btn {
        font-size: 3vw;
        padding: 2vw;
        margin-bottom: 2vw;
    }

    #slider-main .swiper-slide .text .title {
        font-size: 5.4vw;
    }

    #slider-main .swiper-slide {
        max-height: 50vw;
    }

    #slider-main .down {
        width: 7vw;
        left: calc(50% - 3.5vw)
    }

    .swiper-container-horizontal>.swiper-pagination-bullets {
        display: none;
    }

    #about-us p {
        padding: 0 1.2vw;
        font-size: 2.82vw;
        line-height: 3.2vw;
    }

    #offers .elem-wrapper {
        flex-direction: column;
    }

    #offers .elem {
        width: 100%;
        height: 100vw;
    }

    #offers .elem .title {
        font-size: 6.5vw;
    }

    #offers .elem .wrapper {
        max-height: 14vw;
        padding-left: 6vw;
    }

    #offers .elem .text {
        font-size: 4vw;
    }

    .btn-more, .btn-send, .btn-contacts, .btn-connect, .btn-load-more, .btn-prices {
        font-size: 4.3vw;
        padding: 1.2vw 2.5vw;
    }

    #offers .elem:hover .wrapper {
        max-height: 50vw;
    }

    .elem.empty {
        display: none;
    }

    section .container > .title {
        font-size: 9vw;
    }

    #what-new .elem {
        max-height: 55vw;
        overflow: hidden;
    }

    #what-new .elem .photo {
        width: 100%;
        height: 35.5vw;
    }

    #what-new .elem .info {
        width: calc(100% - 2vw);
        height: 20.5vw
    }

    #what-new .elem .info .title {
        font-size: 4.5vw;
    }

    #what-new .elem .info .date {
        font-size: 2vw;
    }

    #what-new .elem .info .text {
        font-size: 2.32vw;
        line-height: 2.5vw;
    }

    #how-buy .elements {
        flex-direction: column;
    }

    #how-buy .elements .elem {
        width: calc(100% - 6vw) !important;
        height: 34vw;
        padding: 1.5vw 3vw !important;
    }

    #how-buy .elements .elem .title {
        font-size: 6.5vw;
    }

    #how-buy .elements .elem p {
        font-size: 3vw;
    }

    #how-buy .elements .elem .form-group {
        margin-bottom: 3vw;
    }

    #how-buy .elements .elem .form-group label,
    #how-buy .elements .elem .form-group input {
        font-size: 3vw;
        max-width: none;
    }

    #work-process .container > p {
        font-size: 2.8vw;
        line-height: 3vw;
    }

    #work-process .wrapper {
        width: 100%;
    }

    #work-process .wrapper .right p,
    #work-process .wrapper .right li {
        font-size: 2.5vw;
        line-height: 3vw;
    }

    #work-process .wrapper .left li.points {
        margin-left: 1.6vw;
    }

    #work-process .wrapper .left li:not(.points) {
        height: 4.5vw;
    }

    #work-process .wrapper .left li:not(.points) span:not(.a) {
        width: 4vw;
        height: 4vw;
        line-height: 4vw;
        font-size: 2.2vw;
    }

    #work-process .wrapper .left li:not(.points) .a {
        font-size: 2.4vw;
        line-height: 2.5vw;
        vertical-align: middle;
    }

    #work-process .wrapper .left {
        width: 45%;
    }

    #advantages .advantages-1,
    #advantages .advantages-2,
    #how-choose .options {
        flex-direction: column;
        align-items: center;
    }

    #advantages .advantages-1 .elem {
        width: 100%;
        margin-bottom: 2vw;
    }

    #advantages .advantages-1 p {
        font-size: 4vw;
        line-height: 4.5vw;
    }

    #advantages .container > .title {
        margin-bottom: 4vw;
    }

    #advantages .advantages-1 .check {
        height: 3.4vw;
    }

    #advantages .advantages-2 .elem {
        width: 100%;
        margin-bottom: 2vw;
    }

    #advantages .advantages-2 .elem .icon {
        height: 28vw;
    }

    #advantages .advantages-2 .elem .title {
        font-size: 4vw;
    }

    #advantages .advantages-2 .elem .text {
        font-size: 3.5vw;
        line-height: 4vw;
    }

    #how-choose .container > .title {
        font-size: 4.65vw;
    }

    #how-choose .options .elem {
        width: 100%;
        margin-bottom: 2vw;
    }

    #how-choose .options .elem .title {
        font-size: 3.5vw;
    }

    #how-choose .options .elem .text {
        font-size: 3vw;
    }

    #specifications > .right > .title {
        font-size: 4vw;
    }

    #specifications > .right .positions li .title {
        font-size: 1.6vw;
    }

    #specifications > .right .positions li .value {
        font-size: 1.6vw;
    }

    #specifications .btn-prices {
        font-size: 2.7vw;
    }

    #specifications .download-catalog .icon {
        width: 2.5vw;
        height: 2.5vw;
    }

    #specifications .download-catalog a {
        font-size: 2.3vw;
    }

    #ransom .text {
        font-size: 2.5vw;
        line-height: 3.5vw;
    }

    #ransom .with-image .text {
        font-size: 2.3vw;
    }

    #ransom .with-image-3 .list li {
        font-size: 3.8vw;
    }

    #ransom .container > .title {
        font-size: 3.65vw;
    }

    #services {
        flex-direction: column;
        align-items: center;
    }

    #services .elem {
        width: 100%;
    }

    #services .elem .icon {
        height: 28vw;
    }

    #services .elem .title {
        font-size: 3.5vw;
    }

    #services .elem .text {
        font-size: 2.8vw;
    }

    #footer .logo {
        width: 22vw;
        margin-bottom: 5.5vw;
        margin-top: 2vw;
    }

    #footer div, #footer p {
        font-size: 2.1vw;
    }

    #footer .copyright {
        margin-bottom: 2.5vw;
    }

    #footer .design-by {
        width: 40vw;
        margin-bottom: 2.5vw;
    }

    #footer .design-by p {
        font-size: 2.25vw;
        line-height: 2.25vw;
    }

    #contacts .info {
        position: static;
    }

    #contacts .info .title {
        font-size: 5vw;
    }

    #contacts .info .invoices {
        font-size: 4vw;
        line-height: 4.3vw;
    }

    #contacts .info .contacts li,
    #contacts .info .socials li {
        display: block;
    }

    #contacts .info .contacts li .icon {
        width: 6.5vw;
        margin: 0;
    }

    #contacts .info .contacts li .text {
        font-size: 4vw;
        line-height: 4.2vw;
    }

    #contacts .info .socials {
        margin-top: 3vw;
    }

    #contacts .info .socials li a {
        font-size: 4vw;
    }

    #contacts .info .socials li .icon {
        width: 6.5vw;
        height: 6.5vw;
        line-height: 6.5vw;
        margin: 0 auto;
    }

    #contacts .info .socials li .icon img {
        vertical-align: middle;
    }

    #contacts #map {
        height: 55vw;
    }

    #contacts .info {
        width: 100%;
        position: static;
        text-align: center;
    }

    .modal-back-call, .modal-news {
        width: 60%;
        height: 45vw;
        top: calc(50% - 22.5vw);
        left: 20%;
    }

    .modal-back-call .title {
        font-size: 4.5vw;
        line-height: 4.7vw;
    }

    .modal-back-call .form-group input {
        font-size: 3vw;
    }

    .modal-back-call .form-group .icon {
        width: 2.2vw;
        height: 2.2vw;
        padding: 1.8vw;
    }

    .modal-back-call .btn-send {
        font-size: 4vw;
    }

    .modal .close {
        width: 4vw;
        height: 4vw;
    }

    .modal-news {
        width: 80%;
        left: 10%;
        height: 55vw;
        top: calc(50% - 22.5vw);
    }

    .modal-news .title {
        font-size: 3.65vw;
    }

    .modal-news .date {
        font-size: 2.2vw;
    }

    .modal-news .text {
        max-height: 30vw;
    }

    .modal-news .text p {
        font-size: 2.2vw;
        line-height: 2.5vw;
    }
}
